@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Suez+One&display=swap');

:root {
  --background-color: #FFFFFF;
  --text-color: #2A2C2D;
  --background-color-output: #F1F1F1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

h1, h2, button {
  font-family: 'Suez One', sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

textarea {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  text-align: left;
  resize: none;
  padding: 8px;
  color: var(--text-color)
}
textarea.input {
  background: var(--background-color);
}

textarea::-webkit-scrollbar {
  display: none;
}

#logo {
  width: 200px;
}

div.tema {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

div.tema h2 {
  font-size: 16px;
}

div.tema .MuiTypography-body1 {
  font-family: 'Suez One', sans-serif;
  color: var(--text-color);
}

div.dados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.dados textarea {
  width: 575px;
  height: 500px;
}

div.dados textarea#output {
  background-color: var(--background-color-output);
}

div.key {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0px;
}

div.key div.chave h1 {
  text-align: center;
}

div.key div.chave textarea {
  width: 280px;
}

div.key div.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.key div.botoes button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0b400;
  color: #FFF;
  margin-bottom: 30px;
  font-size: 20px;
  height: 48px;
  width: 75%;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 4px #999;
}

div.key div.botoes button:hover { background: #dfa700 }
div.key div.botoes button:active { transform: translate(2px, 4px); box-shadow: none;}

div.key div.botoes button img.icon {
  margin-right: 10px;
}
